*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 25px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: -1;
}
/*logo*/
.logo{
    color: #ffff;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}
.navbar a{
    text-decoration: none;
    color: #ffff;
    padding: 0px 14px;
    font-weight: 600;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #ffff;
}
.navbar a:hover,
.navbar a.active{
    color: #c59764;
}
/*buttons*/
.reservation button{
    color: white;
    border: 1px solid white;
    transition: 0.4s all ease-in-out 0s;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 135px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}
.reservation .btn:hover{
    background-color:#c59764;
    border: 1px solid white;
}

header a:hover,
header a.active{
    color: #c59764;
}
/*nav responsive*/
.menubar{
    position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    right: 5%;
}
#check{
    display: none;
}
/*hero*/
.hero{
    padding-top: 10%;
    background:url(images/hero\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content{
    position: relative;
    margin-top: 100px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 25%;
}
.hero-content p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    align-items: center;
}
.hero-content p::before , .hero-content p::after{
    content: "";
    display: block;
    background-color: #ffff;
    top: 50%;
    height: 2px;
}
.hero-content h1{
    font-size: 60px;
}
.hero-buttons{
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.oderbtn{
    background-color: #c59764;
    color: #ffff;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border:none;
}
.oderbtn:hover{
    color: black;
    background-color: #ffff;
}

.flavours{
    padding: 25px 10%;
}
.flavours h1{
    font-size: 70px;
    text-align: center;
}
.flavours h1 span{
    color: #c59764;
}
/*responsive*/
@media(max-width:768px){
    @media (max-width:768px){
        .menubar{
            display: inline-flex;
        }
        #check:checked~.menubar #menu-icon{
            display: none;
        }
    
        .menubar #close-icon{
            display: none;
        }
        #check:checked~.menubar #close-icon{
            display: block;
        }
        .header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: max-content;
            background:rgba(0, 0, 0, 0);
            backdrop-filter: blur(5px);
            display: block;
            overflow: hidden;
        }
        .navbar{
            height: 100vh;
            width: 100%;
            display: none;
            left: 0;
        }
        .reservation{
            height: 0;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            padding-left: 27%;
        }
        #check:checked~.navbar{
            height: max-content;
            display: block;
        }
        #check:checked~.reservation{
            height: max-content;
            display: block;
        }
        
        .navbar a{
            display: block;
            font-size: 1.15rem;
            margin: 1.5rem;
            padding: 0.5rem;
            text-align: center;
            background-color: #c59764;
            border-radius: 10px;
        }
        .header button{
            display: block;
            font-size: 1.15rem;
            height: 40px;
            width: 150px;
            margin: 1.5rem;
        }
        .navbar a:hover,
        .navbar a.active{
            color: black;
        }
        .hero-content{
            padding: 20px 10%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .hero-content p{
            font-size: 18px;
        }
        .hero-content h1{
            font-size: 35px;
        }
        .hero-content p{
            grid-template-columns: 1fr 2fr 1fr;
        }
    }
    /*navbar ending*/
}