*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 23, 23);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 25px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 21, 21, 0.884);
    top: 0;
    left: 0;
    z-index: -1;
}
/*logo*/
.logo{
    color: #ffff;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}
.navbar a{
    text-decoration: none;
    color: #ffff;
    padding: 0px 14px;
    font-weight: 600;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #ffff;
}
.navbar a:hover,
.navbar a.active{
    color: #c59764;
}
/*buttons*/
.reservation button{
    color: white;
    border: 1px solid white;
    transition: 0.4s all ease-in-out 0s;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 135px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}
.reservation .btn:hover{
    background-color:#c59764;
    border: 1px solid white;
}

header a:hover,
header a.active{
    color: #c59764;
}
/*nav responsive*/
.menubar{
    position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    right: 5%;
}
#check{
    display: none;
}
/*hero*/
.hero{
    padding-top: 10%;
    background:url(images/hero\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content{
    position: relative;
    margin-top: 100px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 25%;
}
.hero-content p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    align-items: center;
}
.hero-content p::before , .hero-content p::after{
    content: "";
    display: block;
    background-color: #ffff;
    top: 50%;
    height: 2px;
}
.hero-content h1{
    font-size: 60px;
}
.hero-buttons{
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.oderbtn{
    background-color: #c59764;
    color: #ffff;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border:none;
}
.oderbtn:hover{
    color: black;
    background-color: #ffff;
}
/*menu*/
.flavours{
    padding: 25px 10%;
    background-color: rgb(24, 23, 23);
    color: #ffff;
}
.flavours h1{
    font-size: 50px;
    text-align: center;
}
.flavours h1 span{
    color: #c59764;
}
.main-flav{
    display: flex;
    padding: 50px 5%;
}
.flav-img img{
    width: 450px;
    height: 500px;
}
.flav-cont{
    width: 45%;
    padding-left: 20px;
}
.flav-cont h5{
    font-size: 22px;
    border-bottom: 1px dashed wheat;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.flav-cont h5 span{
    float: right;
}
.flav-cont p{
    font-size: 12px;
}
.menu{
    padding-bottom: 5px;
    margin-bottom: 15px;
}
/*bakery*/
.bakery{
    padding: 25px 10%;
    background-color: rgb(24, 23, 23);
    color: #ffff;
}
.bakery h1{
    font-size: 50px;
    text-align: center;
}
.bakery h1 span{
    color: #c59764;
}
.bakery-container{
    padding-top: 50px;
    width: 95%;
}
.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    color: #343F4F;
    cursor: pointer;
    font-size: 2.2rem;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
.menubtn{
    background-color: #c59764;
    color: #ffff;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border:none;
}
.menubtn:hover{
    color: black;
    background-color: #ffff;
}
/*about*/
.home-about{
    margin-top: 5%;
    padding: 30px 5%;
    background-color: rgb(24, 23, 23);
    color: #ffff;
}
.about-container{
    display: flex;
}
.about-img{
    background: url(images/a2.jpg);
    width: 2500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-cont{
    padding-left: 50px;
}
.about-cont h1{
    font-size: 42px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.about-cont h1 span{
    color: #c59764;
}
.about-cont h3{
    font-size: 26px;
    margin-bottom: 8px;
}
.about-cont h4{
    font-size: 20px;
    font-weight: 700;
}
.discover button{
    color: white;
    border: 1px solid white;
    transition: 0.4s all ease-in-out 0s;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}
.discover .btn:hover{
    background-color:#ffffff;
    border: 1px solid white;
    color: black;
}
/*gallery*/
.home-gallery {
    text-align: center;
    padding: 20px 2%;
    background-color: rgb(24, 23, 23);
    margin: 10px;
}
.home-gallery h1{
    font-size: 50px;
    text-align: center;
    color: #ffff;
}
.home-gallery h1 span{
    color: #c59764;
}
.photo-collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr)); /* Adjust column width as needed */
    grid-gap: 10px;
    margin: 10px;
}
.photo-collage img {
    width: 100%;
    height: 300px; /* Adjust image height as needed */
    object-fit: cover; /* Ensure images fill the space without distortion */
    border-radius: 5px; /* Optional rounded corners */
}
.gallery-buttons{
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.gallerybtn{
    background-color: #c59764;
    color: #ffff;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border:none;
}
.gallerybtn:hover{
    color: black;
    background-color: #ffff;
}

.newsletter{
    background: url(images/n3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
    padding: 5px 1%;
}
.newsletter::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.637);
    top: 0;
    left: 0;
}
.news-content{
    position: relative;
    margin-top: 100px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
}
.news-content p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.news-content p::before , .news-content p::after{
    content: "";
    display: block;
    background-color: #ffff;
    top: 50%;
    height: 2px;
}
.news-content h1{
    font-size: 60px;
}
.news-content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.input-email{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 28%;
}
form{
    background: white;
    display: flex;
    width: fit-content;
}
form input{
    border: 0;
    outline: none;
    padding: 10px 5%;
    height: 40px;
    width: 400px;
    font-size: 16px;
}
form button{
    background: #c59764;
    border: none;
    outline: none;
    height: 40px;
    width: 60px;
    cursor: pointer;
}
.news-content span{
    color: white;
    display: block;
}

.footer-container{
    padding: 20px 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social{
    margin-top: 15px;
}
.social a{
    display: inline-block;
    margin-right: 10px;
}
.social a i{
    position: relative;
    padding: 5px;
    border-radius: 50%;
    color: white;
    margin: 0px 1px;
    font-size: 25px;
}
.social a i:hover{
    color: #c59764;
}
.copy_right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    padding-bottom: 3px;
    padding: 15px 10%;
    color: #fff;
}

/*responsive*/
@media(max-width:768px){
    @media (max-width:768px){
        .menubar{
            display: inline-flex;
        }
        #check:checked~.menubar #menu-icon{
            display: none;
        }
    
        .menubar #close-icon{
            display: none;
        }
        #check:checked~.menubar #close-icon{
            display: block;
        }
        .header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: max-content;
            background:rgba(0, 0, 0, 0);
            backdrop-filter: blur(5px);
            display: block;
            overflow: hidden;
        }
        .navbar{
            height: 100vh;
            width: 100%;
            display: none;
            left: 0;
        }
        .reservation{
            height: 0;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            padding-left: 27%;
        }
        #check:checked~.navbar{
            height: max-content;
            display: block;
        }
        #check:checked~.reservation{
            height: max-content;
            display: block;
        }
        
        .navbar a{
            display: block;
            font-size: 1.15rem;
            margin: 1.5rem;
            padding: 0.5rem;
            text-align: center;
            background-color: #c59764;
            border-radius: 10px;
        }
        .header button{
            display: block;
            font-size: 1.15rem;
            height: 40px;
            width: 150px;
            margin: 1.5rem;
        }
        .navbar a:hover,
        .navbar a.active{
            color: black;
        }
        .hero-content{
            padding: 20px 10%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .hero-content p{
            font-size: 18px;
        }
        .hero-content h1{
            font-size: 35px;
        }
        .hero-content p{
            grid-template-columns: 1fr 2fr 1fr;
        }
        .flavours{
            padding: 20px 5%;
        }
        .main-flav{
            display: block;
        }
        .flav-img img{
            width: 400px;
            padding-left: 0;
        }
        .flav-cont{
            width: 100%;
            padding-left: 0;
            padding-top: 20px;
        }
        .home-about{
            padding: 20px 10%;
        }
        .about-container{
            display: block;
        }
        .about-img{
            width: 400px;
        }
        .about-cont{
            padding-left: 0;
        }
        .carousel img{
            width: calc(100% / 2);
          }
          .wrapper{
            justify-content: center;
            align-items: center;
            padding-left: 25px;
          }
          .news-content{
            margin-top: 10px;
            padding: 0px 5%;
        }
        .news-content h1{
            font-size: 50px;
        }
        .input-email{
            padding: 20px 9%;
        }
        form input{
            width: 300px;
        }
    }
    
}